#button-id {
    width: 88vw;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.videoContainer-bg {
    height: 89vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.videoContainer-search {
    height: 89vh;
    overflow: scroll;
    scrollbar-width: none;
    width: 180px;
}

.liveMessage-bg {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#slider-head {
    font-size: 13px;
    color: black;
}

.title-text {
    font-size: 15px;
    font-weight: 600;
    color: rgb(55, 55, 55);
    font-family: "Roboto", "Arial", sans-serif;
}

.channel-title {
    margin-left: 40px;
    font-size: 15px;
    color: #606060;
    font-family: "Roboto", "Arial", sans-serif;
}

.views-bg {
    margin-left: 35px;
}

.like-views-para {
    margin-left: 5px;
    margin-right: 6px;
    font-size: 14px;
    color: #606060;
    font-family: "Roboto", "Arial", sans-serif;
}

#watchvideo-card {
    height: 25vh;
    width: 92vw;
}